
<!-- <div id='chart-box'>bar graph 1</div> -->

<div id="circle-chart"></div>

<script type="text/javascript">
d3.json("donations.json", function (json) {

var h = 500 // sets the height of the box
var w = 1000 // sets the width of the box in total % of the parent element

var svg = d3.select("div#circle-chart").append("svg")
  .attr("class", "chart")
  .attr("width", w )
  .attr("height", h );  

// set variables for the largest and smallest of each scaled attribute
var largest_radius = 75
var smallest_radius = 3
var largest_amount = d3.max(json, function(d) { return d.amount; })
var smallest_time_in_days = d3.min(json, function(d) { return ((d.year * 365) + (d.month * 30) + d.day); })
var largest_time_in_days = d3.max(json, function(d) { return ((d.year * 365) + (d.month * 30) + d.day); })
var approximate_number_of_months = ((largest_time_in_days - smallest_time_in_days)/ 30)

//set a padding variable to show all of the circles on the sides of box with the #s on axis
var foodlistPadding = 120
var xAxisPadding = foodlistPadding + 40 // meaning padding for y axis along the x axis
var yAxisPadding = 40 //padding for x axis along the y axis
var xCirclePadding = largest_radius + xAxisPadding + 5
var yCirclePadding = (largest_radius)
  
// scales the radius of each circle   
var radius = d3.scale.linear()
  .domain([0, largest_amount])
  .range([smallest_radius, largest_radius]);

// scales the height and width of the whole graph
var yScale = d3.scale.linear()
  .domain([0, largest_amount ])
  .range([h - yCirclePadding, yCirclePadding]); // flipping [1, h] to [h, 1] inverts ths scale so large are on top

var xScale = d3.scale.linear()
  .domain([smallest_time_in_days, largest_time_in_days])
  .range([xCirclePadding, w - xCirclePadding]);

// This really needs to be filled out explicitly in a way that adds new foods easily

var foodItems = [
  ["Apples", 1],
  ["Mulberries", 2],
  ["Pears", 3],
  ["Oyster Mushrooms", 4],
  ["Turnips", 5],
  ["figs", 6],
  ["plums", 7],
  ["Daikon", 8],
  ["Serviceberries", 9],
  ["Kale", 10],
  ["Blackberries", 11],
  ["Cabbage", 12],
  ["Kohlrabi", 13],
  ["Carrots", 14],
  ["Zucchini", 15],
  ["Onions", 16],
  ["Daikon", 17],
  ["Sweet Potatoes", 18],
  ["Eggplant", 19],
  ["Muscadines", 20],
  ["West Indian Gherkin", 21],
  ["Zucchini", 22], 
  ["Radishes", 23]
];

var circle_color = d3.scale.category20()
  .domain(function(foodItems) { return foodItems[o]; })       

  var circle = svg.selectAll('circle')
    .data(json)
    .enter()
      .append('circle')
      .style("fill", function(d) { return circle_color(d.food_type) })
      .attr("cy", function(d) { return yScale(d.amount); })
      .attr("cx", function(d) { return xScale((d.year * 365) + (d.month * 30) + d.day); })
      .attr("r", function(d) { return radius(d.amount); });

// label the circles if you want to
  var text = svg.selectAll('text')
   .data(foodItems)
   .enter()
   .append("text")
   .text( function(d) { return d[0]; })
    .attr("x", 5)
    .attr("y", function(d) { return d[1] * 15 + largest_radius; })
    .attr("font-family", "sans-serif")
    .attr("font-size", "11px")
    .style("fill", function(d) { return circle_color(d[0]); });

// Define X axis
var xAxis = d3.svg.axis()
  .scale(xScale)
  .orient("bottom")
  // .ticks(approximate_number_of_months);  //Set rough # of ticks to months  

svg.append("g")
    .attr("class", "axis")  //Assign "axis" class
    .attr("transform", "translate(0," + (h - yAxisPadding) + ")") //move to bottom
    .call(xAxis);  

// Define Y axis
var yAxis = d3.svg.axis()
  .scale(yScale)
  .orient("left");

svg.append("g")
  .attr("class", "axis")  //Assign "axis" class
  .attr("transform", "translate(" + xAxisPadding + ", 0)") //move to bottom
  .call(yAxis); 

});

</script>
