<h1 class="center">Checkout the D3!</h1>

<div class="row">
	<div class="span3">
		<div id="form-btn">
			<div id="show_form" class="btn btn-large btn-primary">show form</div>
			<div id="hide_form" class="btn btn-large btn-primary">hide form</div>
		</div>
		<div id="form-picking"><%= render 'donations/form' %></div>
		<div>
			<div class='btn btn-primary forms' id='show_1'>Show 1</div>
			<div class='btn btn-primary forms' id='show_2'>Show 2</div>
			<div class='btn btn-primary forms' id='show_3'>Show 3</div>
		</div>
	</div>

	<div class="span11">
		</br></br>
		<div id="bar_graph_1"><%= render 'donations/chart1' %></div>
		<div id="bar_graph_2"><%= render 'donations/chart2' %></div>
		<div id="bar_graph_3"><%#= render 'donations/chart3' %></div>
		<div id="bar_graph_4"><%#= render 'donations/chart_practice' %></div>
	</div>
</div>






<div class="tabable">
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">Home</a></li>
  <li><a href="#chart1", data-toggle"tab">Chart 1</a></li>
  <li><a href="#chart2", data-toggle"tab">Chart 2</a></li>
  <li><a href="#chart3", data-toggle"tab">Chart 3</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="home">...</div>
  <div class="tab-pane" id="chart1">111</div>
  <div class="tab-pane" id="chart2">222</div>
  <div class="tab-pane" id="chart3">333</div>
</div>
</div> 
